::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: lightblue;
  --radius-pill: 200px;
}

.navbar {
  margin-bottom: 20px;
}

.nav-link {
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: rgb(83, 185, 203);
}

.form-control {
  width: 200px;
}

.image {
  float: left;
  height: 175px;
  width: 130px;
  background-color: lightgrey;
  margin-right: 50px;
}

.book_detail {
  padding-left: 25px;
  margin-left: 25px;
}

::placeholder {
  color: lightgray;
}

input[type="text"]::placeholder {
  text-align: center;
}

.form-text{
  max-width: 800px;
  padding: 10px;
  text-align: justify;
}

textarea::placeholder {
  text-align: left;
}

nav .pagination {
  justify-content: center;
}

.footer {
  background-color: #fff8f8;
  color: #fff;
  padding: 1rem 0;
}

.footer span.text-muted {
  color: #fff;
}

.social-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

.social-list li {
  margin-right: 1rem;
}

.social-link {
  display: flex;
  align-items: center;
  color: #434343;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-link ion-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  transition: color 0.3s ease;
}

.social-link:hover ion-icon {
  color: currentColor;
}

.social-link:hover .span {
  color: currentColor;
}

.social-link:hover {
  color: initial;
}

.social-link:hover[href*="github"] {
  color: #333;
}

.social-link:hover[href*="linkedin"] {
  color: #0077b5;
}

.social-link:hover[href*="mail"] {
  color: #d44638;
}
